.seo-info {
    color: red;
    font-weight: 700;
    font-size: 16px;
    background-color: #e4e4e4;
    padding: 15px;
}

.error {
    color: #d14;
}

.block-label {
    display: block;
    margin-bottom: 6px;
}

.note-text {
    font-size: 16px;
    text-align: center;
    margin: 0 100px 20px 0;
}

.permission-list {
    margin-left: 120px;
}

.permission-list  ul {
    list-style-type: none;
}

.permission-list li {
    line-height: 2;
}